body {
  margin: 50px;
  font-family: "Times New Roman", Times, serif;
}

.todo {
  margin: auto;
  width: 25%;
  border: 1px solid black;
  text-align: center;
}

form {
  margin: auto;
  width: 25%;
  text-align: center;
}
