body {
  margin: 50px;
  font-family: "Helvetica", sans-serif;
  font-size: 0.9em;
  background-color: #d3e1f3;
}

.todo {
  margin: auto;
  width: 25%;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 5px;
  background-color: #dfe2e9;
  /* padding-left: 1em; */
}

form {
  margin: auto;
  text-align: center;
}

.bin {
  float: right;
  color: rgb(212, 93, 93);
  padding-right: 0.5em;
}

input {
  width: 22%;
  padding-top: 4px;
}

.add {
  padding-top: 2.5px;
}

#update {
  width: 10em;
}

.enter {
  font-size: 0.9em;
}

.cancel {
  font-size: 0.9em;
  color: rgb(212, 93, 93);
}

#checkbox,
#checkbox_filled {
  padding-left: 0.5em;
  padding-right: 1em;
  font-size: 0.6em;
  width: 1.1em;
}

/* .todo_name:active {
  color: red;
  
} */
